*.bak
*.iml
*.log
*.swo
*.swp
*/.glide
*/vendor
.DS_Store
.bak
.idea/
.revision
.cometbft
.cometbft-lite
.terraform
.vagrant
.vendor-new/
.vscode/
build/*
docs/.vuepress/dist
docs/_build
docs/dist
docs/node_modules/
docs/spec
docs/.vuepress/public/rpc
index.html.md
profile\.out
shunit2
vendor
*.aux
*.bbl
*.blg
*.pdf
*.gz
*.dvi
test/e2e/.env
# Python virtual environments
.venv
go.work.sum
